.tarjeta {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 300px;
}

.bueno {
  color: white;
  background-color: green;
  text-align: center;
}

.regular {
  color: white;
  background-color: yellow;
  text-align: center;
}

.malo {
  color: white;
  background-color: red;
  text-align: center;
}

.img {
  height: 500px;
  width: 300px;
  margin: 10px;
  object-fit: cover;
}
